<div class="container">
	<div class="col s12">
		<div class="card modify">
			<div class="card-content">
				<span class="card-title">New Category</span>
				<div class="row collapse-margin-bottom">
					<form accept-charset="UTF-8" class="col s12" action="" method="POST">
						<div style="display:none">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=" />
            </div>
            <div class="row collapse-margin-bottom">
							<div class="form-group col s12">
								<label for="title">Title</label>
								<input type="text" class="form-control">
							</div>
  						</div>
  						<div class="row collapse-margin-bottom">
							<div class="form-group col s12">
						        <label for="displaypic">Display Picture</label>
						        <input type="file" name="displaypic">
    						</div>
  						</div>
  						<div class="row collapse-margin-bottom">
  							<div class="form-group col s12">
  								<label for="category">Category</label>
  								<select class="form-control">
							      <option value="" disabled selected>Select Category</option>
							      <option value="1">Option 1</option>
							      <option value="2">Option 2</option>
							      <option value="3">Option 3</option>
							    </select>
  							</div>
  						</div>
  						<div class="row collapse-margin-bottom">
  							<div class="form-group col s12">
                  <label for="tags">Tag</label>
                  <input class="form-control" name="tags" id="tags"></input>
  							</div>
  						</div>
  						<div class="row collapse-margin-bottom">
  							<div class="form-group col s12">
  								<label for="content">Content</label>
  								<textarea class="form-control" name="content" rows="6"></textarea>
  							</div>
  						</div>
  						<div class="row collapse-margin-bottom">
  							<div class="form-group col s12 center-container">
  								<div class="center-box">
	  								<button class="btn waves-effect waves-light collapse-margin-bottom save-button" type="submit">Save</button>
	  								<a class="btn waves-effec waves-light collapse-margin-bottom cancel-button" href="/home">Cancel</a>
  								</div>
  							</div>
  						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>