<div class="container center-align signin-page">
	<div class="row">
		<div class="col s12">
			<img class="circle responsive-img" src="/image/profile2.jpg"></img>
		</div>
	</div>
	<div class="row">
		<form accept-charset="UTF-8" class="col s12" 
			  method="POST" action="/signin">
			<div style="display:none">
			 	<input name="utf8" type="hidden" value="&#x2713;" />
			 	<input name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=" />
			</div>
			<div class="form-group col s12">
          		<input name="username" type="text" 
          			   class="form-control" placeholder="Username">
			</div>
			<div class="form-group col s12">
          		<input name="password" type="password" 
          			   class="form-control" placeholder="Password">
			</div>
			<div class="col s12">
				<button class="btn btn-default signin">Sign in</button>
			</div>
		</form>
	</div>
</div>