<div id="addother" class="modal">
  
  <!-- Content -->
  <div class="modal-content">
    
    <!-- Container -->
    <div class="col s12">
      
      <!-- Form Container -->
      <div class="row collapse-margin-bottom">
        
        <!-- Form -->
        <form accept-charset="UTF-8" class="col s12" 
              action="" method="POST">
          
          <!-- CSRF -->
          <div style="display:none">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input name="authenticity_token" type="hidden" 
                   value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=" />
          </div>
          <!-- End CSRF -->

          <!-- Content -->
          <div class="row collapse-margin-bottom">
            <div class="form-group col s12">
              <label for="content">Content</label>
              <textarea class="form-control" name="content" rows="6"></textarea>
            </div>
          </div>
          <!-- End Content -->

          <!-- Action -->
          <div class="row collapse-margin-bottom">
            <div class="form-group col s12 center-container">
              <div class="center-box">
                <button class="btn waves-effect waves-light collapse-margin-bottom save-button" type="submit">Add</button>
                <a class="btn waves-effect waves-light collapse-margin-bottom cancel-button modal-action modal-close" href="#!">Cancel</a>
              </div>
            </div>
          </div>
          <!-- End Action -->

        </form>
        <!-- End Form -->
      
      </div>
      <!-- End Form Container -->
    
    </div>
    <!-- End Container -->

  </div>
  <!-- End Content -->
</div>