<div class="banner-img">
	<img class="responsive-img" src="/image/banner.jpg"></img>
</div>

<div class="container">
	<div class="row">
		<div class="col s12 m6">
			<div class="card post post-card">
				<div class="card-content">
					<span class="card-title">Header1</span>
					<p class="post-time">Created at: May 31 2015</p>
					<p class="post-category">Category: Internship</p>
					<p class="post-content">Lorem ipsum dolor sit amet, ius ex oratio dolores adversarium. Tale platonem eu has, agam legimus sea an, no pro iusto doming epicuri. Consetetur suscipiantur vix et.</p>
					<div class="tag">
						<span data-tag="internship">internship</span>
						<span data-tag="day1">day1</span>
					</div>	
					<div class="social">
						<i class="fa fa-twitter-square pointer"></i>
						<i class="fa fa-facebook-square pointer"></i>
						<i class="fa fa-thumbs-o-up pointer"></i>
					</div>			
				</div>
				<div class="card-action">
					<ul class="collection">
						<li class="collection-item">
							<div class="row collapse-margin-bottom">
							    <form class="col s12">
							      <div class="row" style="margin-bottom: 10px">
							        <div class="col s12">
							        	<p class="comment-status">
							        		<b>All Comments: 3</b>
							        	</p>
							        	<textarea name="comment"></textarea>
							        </div>
							        <div class="col s12">
							        	<button class="btn waves-effect waves-light comment-submit" type="submit" name="action">Submit
										</button>
							        </div>
							      </div>
							    </form>
							 </div>
						</li>
						<li class="collection-item">
							<p class="comment-title"><b>Comments</b></p>
							<ul class="collection comment-container">
								<li class="collection-item">
									<div class="comment">
										<p class="comment-author">Galle 
											<span class="comment-time">1 month ago</span></p>
										<p class="comment-content">This is great</p>
									</div>
								</li>
								<li class="collection-item">
									<div class="comment">
										<p class="comment-author">Galle <span class="comment-time">2 month ago</span></p>
										<p class="comment-content">Good</p>
									</div>
								</li>
								<li class="collection-item">
									<div class="comment">
										<p class="comment-author">Galle <span class="comment-time">3 month ago</span></p>
										<p class="comment-content">Interesting</p>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>